@using V_verPlatform.Models;
@{
    ViewBag.Title = "Index";
}
<script src="~/Content/js/jquery.min.js"></script>
@RenderPage("~/Views/Shared/Loading.cshtml")
<link href="~/App_Themes/ShowBlueStyle/userLogin.css" rel="stylesheet" />
   <head>
      <title>Welcome to V-verPlatform</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
       <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
<div class="container-fluid">
    <div class="row-fluid" style="color:#fff;font-family:微软雅黑, 'Microsoft YaHei', sans-serif;">
        <div class="span12" style="height:10%; background:#000;">

        </div>
    </div>
    <div class="row" style="color:#fff;font-family:微软雅黑, 'Microsoft YaHei', sans-serif;">
        <div class="col-md-4"><h1>@VverAuthorizeAttribute.Name</h1></div>
        <div class="col-md-6" ><h2> power is @VverAuthorizeAttribute.Power</h2></div>
        <div class="col-md-2" >Logout</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="color:#fff;font-family:微软雅黑, 'Microsoft YaHei', sans-serif;" >
          <div><h3> @VverAuthorizeAttribute.users</h3></div>
          <div><h3> @VverAuthorizeAttribute.ID</h3></div>
        </div>
        <div class="col-md-8" ></div>
    </div>
    <div>
       @if (VverAuthorizeAttribute.Power > 8)
       {
           <a href="/novel/manager">风轨管理后台</a>
       }
    </div>
</div>
      <!-- 包括所有已编译的插件 -->
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    @RenderPage("~/Views/Shared/footer.cshtml")